@import url('https://fonts.googleapis.com/css2?family=Days+One&display=swap');

@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  html,
  body {
    padding: 0;
    margin: 0;
    color: #fff;
    min-height: 101vh;
    font-family: 'Days One', sans-serif;
    background: rgb(12,12,12);
    background: -moz-linear-gradient(180deg, rgba(12,12,12,1) 10%, rgba(24,24,24,1) 100%);
    background: -webkit-linear-gradient(180deg, rgba(12,12,12,1) 10%, rgba(24,24,24,1) 100%);
    background: linear-gradient(180deg, rgba(12,12,12,1) 10%, rgba(24,24,24,1) 100%);
  }

  img {
    margin: 0 auto;
    border-radius: 8px;
  }

  /* Scroll Animation */
  .scroll {
  width: 30px;
  height: 30px;
  border: 2px solid #6b7280;
  border-radius: 50%;
  position: relative;
  animation: down 1.5s infinite;
  -webkit-animation: down 1.5s infinite;
}
.scroll::before {
  content: "";
  position: absolute;
  top: 7px;
  left: 8.25px;
  width: 9px;
  height: 9px;
  border-left: 2px solid #4f46e5;
  border-bottom: 2px solid #4f46e5;
  transform: rotate(-45deg);
}

@keyframes down {
  0% {
    transform: translate(0);
  }
  20% {
    transform: translateY(10px);
  }
  40% {
    transform: translate(0);
  }
}
@-webkit-keyframes down {
  0% {
    transform: translate(0);
  }
  20% {
    transform: translateY(10px);
  }
  40% {
    transform: translate(0);
  }
}
}
